19.WCF/lab07c_winforms/Connected Services/WS/lab07c_wcf.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/lab07c_wcf.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/lab07c_wcf.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTelephone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Telephone" nillable="true" type="tns:Telephone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTelephone" nillable="true" type="tns:ArrayOfTelephone" />
  <xs:complexType name="Telephone">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Telephone" nillable="true" type="tns:Telephone" />
</xs:schema>